---
import ArticleCards from "../../components/ArticleCards.astro";
import Card from "../../components/Card.astro";
---

<ArticleCards title="Transisi Kurikulum 2020 ➡️ 2024">
    <div slot="description">
        testdesc
    </div>
    <div slot="cards">
        <Card>
            <h3>Teknik Elektro</h3>

        </Card>
    </div>
</ArticleCards>
