---
import ArticleCards from "../../components/ArticleCards.astro";
import Card from "../../components/Card.astro";
---

<ArticleCards title="Transisi Kurikulum 2020 ➡️ 2024">
    <div slot="description">
        <p>Sosialisasi Transisi Kurikulum 2024</p>
    </div>
    <div slot="cards" class="wrapper-cards">
        <Card class="wrapper-row">
            <h3>Teknik Elektro</h3>
            <a href="https://drive.google.com/file/d/1FllbkS93HozAnkxucC3njZFyogbafZ6U/view?usp=sharing">
                Aturan Transisi Kurikulum
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </a>
            <a href="https://docs.google.com/spreadsheets/d/1wrORAn5yPMr3ANLlYJjNgBqtkjMBoaPw/edit?usp=sharing&ouid=104182615071981246004&rtpof=true&sd=true">
                Simulasi Transisi Kurikulum
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </a>
        </Card>
        <Card class="wrapper-row">
            <h3>Teknik Komputer</h3>
            <a href="https://drive.google.com/file/d/1BazEeK_Djk-72pOcavnGf5uan7ZqrMRY/view">
                Aturan Transisi Kurikulum
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </a>
            <a href="https://docs.google.com/spreadsheets/d/1xIXdrp50kvbGevwgBTDAgKUvwDmOZFur/edit?usp=sharing&ouid=104182615071981246004&rtpof=true&sd=true">
                Simulasi Transisi Kurikulum
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </a>
        </Card>
        <Card class="wrapper-row">
            <h3>Teknik Biomedik</h3>
            <a href="https://drive.google.com/file/d/1OrONufdYmcRokcZoOu3JU7jJ6dapY-Tq/view?usp=sharing">
                Aturan Transisi Kurikulum
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </a>
            <a href="https://docs.google.com/spreadsheets/d/1QXGqhLqapza_Iuqha61qBjEVci083vcb/edit?usp=sharing&ouid=109625937842033438038&rtpof=true&sd=true">
                Simulasi Transisi Kurikulum
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </a>
        </Card>
    </div>
</ArticleCards>

<style>
    a {
        display: block;
        color: rgba(var(--primary));
        text-decoration: none;
        width: 100%;
        transition: color 0.15s ease-in-out;
    }

    a:hover {
        color: rgb(var(--accent));
    }


    h3 {
        text-decoration: none;
        color: inherit;
        position: relative;
        isolation: isolate;
        border-bottom: 1px solid rgb(var(--accent));
        text-wrap: balance;
    }

    .description {
        line-height: 1.5;
    }


    .wrapper {
        display: flex;
        width: 100%;
    }

    .wrapper-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media screen and (min-width: 900px) {
        .wrapper-cards {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            flex-wrap: nowrap;
            overflow-x: visible;
            flex: 1;
        }
    }

</style>

