---
import ArticleCards from "../../components/ArticleCards.astro";
import AnchorCard from "../../components/AnchorCard.astro";
import Card from "../../components/Card.astro";
---

<ArticleCards title="Akademis DTE">
    <div slot="cards" class="intro-cards">
        <AnchorCard href="https://drive.google.com/file/d/1AT30fW77EQTK3WBDl0rMtbRzDaHzKsIF/view?usp=sharing">
            <h3>Kalender Akademik
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </h3>
            <p class="large-icon-wrapper"><svg class="svg-icon"><use href="#calendar-days"/></svg> Kalender Akademik FTUI Semester Genap
                2024/2025</p>
        </AnchorCard>
        <AnchorCard href="https://youtu.be/5YZFkQfC-7g?si=GsUDP0jHBv89PTI2"
                    target="_blank">
            <h3>Sosialisasi MBKM DTE 2024
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </h3>
            <p class="large-icon-wrapper"><svg class="svg-icon"><use href="#youtube-logo"/></svg> Recording Sosialisasi MBKM DTE 2024 </p>
        </AnchorCard>
        <Card class="a-list">
            <h3> Buku Kurikulum 2024-2025</h3>
            <a href="https://online.pubhtml5.com/sstc/yjeo/">
                <svg class="svg-icon"><use href="#book-open"/></svg> Buku Kurikulum Teknik Elektro
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </a>
            <a href="https://online.pubhtml5.com/sstc/kcli/">
                <svg class="svg-icon"><use href="#book-open"/></svg> Buku Kurikulum Teknik Komputer
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </a>
            <a href="https://online.pubhtml5.com/sstc/swrt/">
                <svg class="svg-icon"><use href="#book-open"/></svg> Buku Kurikulum Teknik Biomedik
                <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
            </a>
        </Card>
    </div>

</ArticleCards>

<style>

    a {
        display: block;
        color: rgba(var(--text));
        text-decoration: none;
        width: 100%;
        transition: color 0.15s ease-in-out;
    }

    .a-list > a {
        display: block;
        color: rgb(var(--primary));
        text-decoration: none;
        text-decoration-color: transparent;
        width: 100%;
    }

    .icon-a {
        transform: translateY(-1px);
    }

    .icon-b {
        transform: translateY(-1px);
    }

    .material-symbols-rounded {
        font-size: inherit;
    }

    .intro-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block-start: 1rem;
        width: 100%;
    }

    h3 {
        text-decoration: none;
        color: inherit;
        position: relative;
        isolation: isolate;
        border-bottom: 1px solid rgb(var(--accent));
        text-wrap: balance;
    }


</style>

