---
import ArticleCards from "../../components/ArticleCards.astro";
---

<ArticleCards title="test123">
    <div slot="description">
        testdesc123
    </div>
    <div slot="cards">
        testcards123
    </div>
</ArticleCards>
