---
import ArticleCards from "../../components/ArticleCards.astro";
---

<ArticleCards title="test12">
    <div slot="description">
        testdesc12
    </div>
    <div slot="cards">
        testcards12
    </div>
</ArticleCards>
