.select_container {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.h2 {
    padding-block: 1rem;
}

.title_container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.title_container ul {
    padding: 0.25em 0.5em;
    border-radius: 3px;
    background-color: rgba(var(--secondary), 0.25);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    margin-right: 0.5em;
    font-size: inherit;
}

.title_container ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.title_container li {
    display: inline-block;
}

.title_container label {
    cursor: pointer;
}

.title_container input[type="radio"][id^="radio-image"] {
    display: none;
}

.title_container .svgContainer {
    border-radius: 3px;
    padding-inline: 0.25rem;
}

.title_container input:checked + .svgContainer {
    outline: 3px solid rgba(var(--secondary), 0.25);
    background-color: rgba(var(--secondary), 1);
}

.comingSoon {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-block-end: 5rem;
}

.comingSoon h2 {
    padding-block-end: 0;
}

.comingSoon h3 {
    color: rgb(var(--primary));
    font-style: italic;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: var(--fs-2);
    padding-block: 2rem;
}

.comingSoon h3 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 0.5rem;
}

.comingSoon h3::before,
.comingSoon h3::after {
    content: '';
    height: 4px;
    border-radius: 10px;
    background-color: rgba(var(--accent), 0.25);
}

.comingSoon a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    transition: background-color 0.15s ease-out;
    position: relative;
    isolation: isolate;
}

.comingSoon a::after {
    content: '';
    position: absolute;
    z-index: -2;
    inset: 100% 0 -2px 0;
    background: rgb(var(--primary));
    width: 0;
    transition: width 0.5s;
}

.comingSoon a:hover::after {
    width: 100%;
}

.capitalize {
    text-transform: capitalize;
}

.largeIconWrapper {
    display: flex;
    justify-content: center;
    gap: 0.25em;
    width: fit-content;
}

.largeIconWrapper  svg {
    height: 1.75em;
    transform: translateY(2px);
}