.diktatAsistensiList {
    overflow-x: visible;
}

.diktatAsistensiList__select_container {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.diktatAsistensiList__cards {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    width: 100%;
    gap: 1rem;
    margin-block: 1rem;
}

@media (max-width: 860px) {
    .diktatAsistensiList__cards {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@media (max-width: 400px) {
    .diktatAsistensiList__cards {
        grid-template-columns: auto;
    }
}

.diktatAsistensiList__img {
    margin: 0;
    margin-block-start: auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: none;
    border-radius: 5px;
    font-style: italic;
}

.diktatAsistensiList__btnContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.diktatAsistensiList__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    text-align: center;
    padding: 0.25em 0;
    border: 1px solid rgba(var(--secondary), 0.35);
    color: rgb(var(--text));
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgba(var(--secondary), 0.25);
    transition: background-color 0.15s ease-in-out;
}

.diktatAsistensiList__btn:hover {
    background-color: rgba(var(--secondary), 0.5);
}

.diktatAsistensiList__card {
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-between;
    background-color: rgba(var(--primary), 0.05);
}

.diktatAsistensiList__a {
    color: rgb(var(--text));
}

.diktatAsistensiList__h2 {
    padding-block: 1rem;
}

.diktatAsistensiList__details {
    color: rgb(var(--primary));
    text-transform: capitalize;
}

.noResults {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.noResults {
    color: rgb(var(--primary));
    font-style: italic;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: var(--fs-2);
    padding-block: 2rem;
}

.noResults {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 0.5rem;
}

.noResults::before,
.noResults::after {
    content: '';
    height: 4px;
    border-radius: 10px;
    background-color: rgba(var(--accent), 0.25);
}

.diktatAsistensiList__btn .pdf_symbol {
    height: 1.5em;
}

.capitalize {
    text-transform: capitalize;
}

.comingSoon {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-block-end: 5rem;
}

.comingSoon h2 {
    padding-block-end: 0;
}

.comingSoon h3 {
    color: rgb(var(--primary));
    font-style: italic;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: var(--fs-2);
    padding-block: 2rem;
}

.comingSoon h3 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 0.5rem;
}

.comingSoon h3::before,
.comingSoon h3::after {
    content: '';
    height: 4px;
    border-radius: 10px;
    background-color: rgba(var(--accent), 0.25);
}

.comingSoon a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    transition: background-color 0.15s ease-out;
    position: relative;
    isolation: isolate;
}

.comingSoon a::after {
    content: '';
    position: absolute;
    z-index: -2;
    inset: 100% 0 -2px 0;
    background: rgb(var(--primary));
    width: 0;
    transition: width 0.5s;
}

.comingSoon a:hover::after {
    width: 100%;
}
