:root {
    font-family: "Poppins", serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgb(var(--text));
    background-color: rgb(var(--background));

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*noinspection CssNonIntegerLengthInPixels*/
    --box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);

    --dark-blue-gradient: linear-gradient(90deg, #000000, #0071FF);
    --light-blue-gradient: linear-gradient(90deg, #BDF3FF, #00CBF6);
    --orange-gradient: linear-gradient(90deg, #FFD300, #FF5E00);

    /* @link https://utopia.fyi/type/calculator?c=320,14,1.125,1000,16,1.2,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --fs-0: clamp(0.875rem, 0.8162rem + 0.2941vw, 1rem);
    --fs-1: clamp(0.9844rem, 0.8829rem + 0.5074vw, 1.2rem);
    --fs-2: clamp(1.1074rem, 0.9509rem + 0.7825vw, 1.44rem);
    --fs-3: clamp(1.2458rem, 1.019rem + 1.1345vw, 1.728rem);
    --fs-4: clamp(1.4016rem, 1.0853rem + 1.5812vw, 2.0736rem);
    --fs-5: clamp(1.5768rem, 1.1478rem + 2.1448vw, 2.4883rem);
}

:root[data-theme="light"] {
    --text: 12, 14, 15;
    --background: 248, 250, 251;
    --primary: 43, 96, 162;
    --secondary: 137, 183, 224;
    --accent: 84, 161, 228;
}

:root[data-theme="dark"] {
    --text: 241, 243, 244;
    --background: 4, 6, 6;
    --primary: 94, 147, 212;
    --secondary: 31, 77, 117;
    --accent: 27, 104, 172;
}

*, *::before, *::after {
    box-sizing: border-box;
    /*background-color: rgb( 255 0 0 /0.2 );*/
    /*border: 1px solid red;*/
}

html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

html,
body {
    margin: 0;
    /*noinspection CssOverwrittenProperties*/
    min-height: 100vh;
    /*noinspection CssOverwrittenProperties*/
    min-height: 100svh;
    background: rgb(var(--background));
}

body {
    display: flex;
    flex-direction: column;
    transition: color, background-color 0.15s linear;
}

footer {
    margin-block-start: auto;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

h1 {
    font-size: var(--fs-5)
}

h2 {
    font-size: var(--fs-4)
}

h3 {
    font-size: var(--fs-3)
}

h4 {
    font-size: var(--fs-2)
}

h5 {
    font-size: var(--fs-1)
}

p {
    font-size: var(--fs-0)
}


.material-symbols-rounded {
    display: inline-block;
    vertical-align: middle;
}

/* Main Grid */

.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 1000px;
    --breakout-max-width: 1250px;

    --breakout-size: calc(
            (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid > .breakout {
    grid-column: breakout;
}

.content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}

.img-skeleton {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    background-clip: content-box;
    border-radius: inherit;
    /* Fix issue with skeleton bleeding out of image*/
    background: linear-gradient(hsl(0 0 100% / 0.5), hsl(0 0 100% / 0.5)) no-repeat center center;
    background-size: 99% 99%;
    animation: img-skeleton 0.5s ease-in-out infinite alternate;
}

@keyframes img-skeleton {
    0% {
        background: linear-gradient(hsl(0 0 100% / 0.5), hsl(0 0 100% / 0.5)) no-repeat center center;
        background-size: 99% 99%;

    }
    100% {
        background: linear-gradient(hsl(0 0 100% / 0.5), hsl(0 0 100% / 0.5)) no-repeat center center;
        background-size: 99% 99%;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.svg-icon {
    display: inline-block;
    height: 1em;
    margin-bottom: -0.1em;
    aspect-ratio: 1/1;
}

.large-icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.25em;
    width: fit-content;
}

.large-icon-wrapper > svg {
    height: 1.5em;
}

/* ------- */
