.select {
    display: inline-block;
    font-family: inherit;
    color: rgb(var(--text));
    accent-color: rgb(var(--accent));
    font-weight: bold;
    padding: 0.25em 0.5em;
    width: auto;
    border: none;
    border-radius: 3px;
    background-color: rgba(var(--secondary), 0.25);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    margin-right: 0.5em;
    font-size: inherit;
}

.select:focus:not(:focus-visible){ outline: 0; }

.select option {
    background-color: rgba(var(--secondary), 0.25);
    accent-color: rgb(var(--text));
    color: rgb(var(--text));
    border: none;
    font-family: inherit;
}