---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Akpro IME FTUI">
    <h1>My Astro Site</h1>
    <h1>About Me</h1>
    <img class='full-width img-skeleton' src="https://unsplash.it/1600/400" alt="" width="1600" height="400">


    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deleniti eveniet iusto officiis?
            Accusantium aliquam amet aut deserunt eius, ex iusto maiores, modi nihil nulla odio quo repellat sit vel!
        </li>
        <li>Amet, cum facere ipsam laborum maiores maxime, minima necessitatibus nisi nobis nulla officia repudiandae
            sequi suscipit! Ab accusantium ducimus eius harum, inventore itaque maxime modi nisi, perferendis quas quasi
            quisquam.
        </li>
        <li>At ea eius error illo laudantium provident quia sunt voluptate. Adipisci minima nemo nostrum vitae
            voluptatem! Aliquam animi asperiores atque blanditiis eos, maiores minima modi nam quam sit soluta velit!
        </li>
        <li>At atque beatae dolorem eos eveniet expedita, explicabo hic impedit inventore itaque magni minus molestiae
            natus nisi non quam quas quasi quis quisquam repellat repudiandae similique, temporibus tenetur voluptas
            voluptatem?
        </li>
        <li>Consequatur culpa exercitationem, ipsam iste labore magnam nemo quis sit sunt tempora! Ab aliquid aperiam
            asperiores assumenda commodi doloribus ex fuga ipsam laudantium minus necessitatibus nisi, perferendis quae
            sapiente similique?
        </li>
    </ul>

    <section style="background-color: antiquewhite" class="full-width">
        <h2>Lorem ipsum dolor sit amet.</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor doloremque error labore minima provident,
            quisquam sed sequi sit totam veniam voluptatum? Eligendi ipsum maxime mollitia quae rem similique ut.</p>
        <p>Aliquam aliquid animi aut ducimus eum, ex illo ipsa ipsam magni molestiae, nobis nostrum quos sapiente sed sunt
            suscipit ullam voluptates. Ad atque eos fuga modi nihil, non reprehenderit repudiandae.</p>
        <p>Adipisci architecto aspernatur hic minus molestias obcaecati quam quisquam voluptatum. Ab culpa deleniti, dolor
            eius est eveniet impedit minima minus necessitatibus nobis nulla optio quae ratione rem rerum, sit unde.</p>
    </section>

    <section class="breakout ">
        <h2>This section can breakout of the main layout</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam voluptates vitae reiciendis corporis
            molestias aspernatur vero eaque obcaecati neque dolores veritatis repudiandae voluptas consectetur voluptatum
            nobis maiores doloremque, nostrum deleniti!</p>
        <p>Aspernatur, dignissimos. Quaerat corporis, itaque porro dolore ea a placeat molestiae nihil voluptatem veniam
            facere, corrupti in vel, voluptates enim soluta sint dolores? Quaerat laboriosam iusto voluptatem accusantium
            ex
            alias?</p>
    </section>

    <section class="full-width bg-primary ">
        <h2>This section has a different background-color</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam voluptates vitae reiciendis corporis
            molestias aspernatur vero eaque obcaecati neque dolores veritatis repudiandae voluptas consectetur voluptatum
            nobis maiores doloremque, nostrum deleniti!</p>
        <p>Aspernatur, dignissimos. Quaerat corporis, itaque porro dolore ea a placeat molestiae nihil voluptatem veniam
            facere, corrupti in vel, voluptates enim soluta sint dolores? Quaerat laboriosam iusto voluptatem accusantium
            ex
            alias?</p>
    </section>


    <section>
    <h3>Lorem 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto asperiores harum impedit laborum, minima
        minus molestiae nesciunt nulla odit, quibusdam quod recusandae reiciendis repellendus, rerum sapiente tempore
        vitae voluptatibus.</p>
    <p class="breakout ">A dolorum est excepturi hic magnam quidem, vitae voluptas voluptatum? Culpa deserunt iste pariatur sapiente
        vitae? Ad, assumenda aut delectus enim illo ipsa libero magni officia, quod repudiandae ut, voluptas?</p>
    <p>Autem dolor eius minus velit? Dignissimos modi neque rem. Ad aliquid amet autem dolore eligendi, enim in maiores
        minima neque nesciunt nisi qui quos recusandae repellat sapiente similique sunt vel.</p>
    <p>Accusantium animi aperiam blanditiis consequuntur corporis cum eligendi enim error facilis hic incidunt laborum
        libero nemo nesciunt nisi officiis, perspiciatis porro possimus quae quibusdam quidem ratione reprehenderit
        soluta tenetur voluptatum.</p>
    <p>Adipisci dolor dolorum esse fuga illum modi pariatur suscipit vitae! Facere laboriosam molestiae nemo saepe vel!
        Ab accusantium ad, autem cumque eum eveniet exercitationem fugit nihil numquam placeat quidem similique!</p>
    </section>
</Layout>

<style>
    .bg-primary  {
        background-color: rgb(var(--accent));
    }
</style>