---
import Layout from "../layouts/Layout.astro";
import AnchorCard from "../components/AnchorCard.astro";
import DiktatAsistensiList from "../components/diktat-asistensi/DiktatAsistensiList";
import isEntryLatest from "../scripts/isEntryLatest";
import {getCollection} from 'astro:content';
import fillEmptyImgWithPlaceholder from "../scripts/fillEmptyImgWithPlaceholder";

const diktatAsistensiArr = await getCollection("diktatAsistensiData");
const imgPlaceholderArrModule: Array<any> = Object.values(import.meta.glob("/src/assets/placeholder_img/*.svg", {eager: true}))
const imgPlaceholderArr: Array<string> = imgPlaceholderArrModule.map(obj => obj.default.src);

const latestDiktatAsistensi = diktatAsistensiArr.reduce((acc, cur) => {
    return isEntryLatest(acc.data, cur.data) ? cur : acc;
}, diktatAsistensiArr[0])

const contentReplacedImg = fillEmptyImgWithPlaceholder(latestDiktatAsistensi.data.content, imgPlaceholderArr);
const latestDiktatAsistensiReplacedImg = {
    ...latestDiktatAsistensi,
    data: {
        ...latestDiktatAsistensi.data,
        content: contentReplacedImg
    }
}
---

<Layout title="Diktat dan Asistensi | Akpro IME FTUI">
    <section class="intro full-width">
        <h1>Diktat dan Asistensi</h1>
        <div class="intro-cards">
            <AnchorCard href="/diktat-asistensi/jadwal-asistensi">
                <h3>Jadwal Asistensi
                    <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
                </h3>
                <p class="large-icon-wrapper"><svg class="svg-icon"><use href="#calendar-days"/></svg> Jadwal Asistensi UTS Genap 2025</p>
            </AnchorCard>
            <AnchorCard href="https://youtube.com/@akademisdankeprofesianime2024?si=sAk9-wxTvyHhRY3T">
                <h3>Rekaman Asistensi
                    <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
                </h3>
                <p class="large-icon-wrapper"><svg class="svg-icon"><use href="#youtube-logo"/></svg> Channel Youtube Akpro</p>
            </AnchorCard>
            <AnchorCard href="/diktat-asistensi/kumpulan-diktat">
                <h3>Kumpulan Diktat
                    <svg class="svg-icon"><use href="#arrow-top-right-on-square"/></svg>
                </h3>
                <p>Diktat tahun 2018 - 2024</p>
            </AnchorCard>
        </div>
    </section>
    <section class="diktat-asistensi-latest">
        <DiktatAsistensiList client:load data={latestDiktatAsistensiReplacedImg.data} removeMeetingsLink={true}/>
    </section>
</Layout>

<style>
    .material-symbols-rounded {
        vertical-align: middle;
    }

    .icon-a {
        transform: translateY(-1px);
    }

    .icon-b {
        transform: translateY(-2px);
    }

    h3 {
        text-decoration: none;
        color: inherit;
        position: relative;
        isolation: isolate;
        border-bottom: 1px solid rgb(var(--accent));
    }

    a {
        color: inherit;
        text-decoration: none;
        text-decoration-color: transparent;
        width: 100%;
    }

    .intro {
        padding-block: 1rem 2rem;
        height: fit-content;
        background-color: rgba(var(--primary), 0.1);
    }

    .intro-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block-start: 1rem;
    }
</style>

