---
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";
import type { AstroInstance } from "astro";

const homeArticles: AstroInstance[] = Object.values(import.meta.glob("../content/home-articles/*.astro", { eager: true }));
---

<Layout title="Akpro IME FTUI">
    <section class="full-width intro">
        <h1>Akademis dan Keprofesian</h1>
        <!--<article>-->
        <!--    <Card>-->
        <!--        test-->
        <!--    </Card>-->
        <!--</article>-->
    </section>
    <section class="full-width">
        {homeArticles.map((component: AstroInstance) => (
            <component.default />
        ))

        }
    </section>
</Layout>

<style>
    .intro {
        padding-block: 2rem;
        height: fit-content;
        position: relative;
        isolation: isolate;
        color: rgb(var(--text));
        background: rgba(var(--primary), 0.1);
        max-width: 100%;
    }

    .intro::after {
        content: "";
        position: absolute;
        inset: 0;
        /*background:  url("/background-home-hero.webp") no-repeat center center;*/
        background-size: cover;
        /*filter: blur(1px) brightness(0.5);*/
        z-index: -2;
    }



</style>

