---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TOP SECRET JANGAN DIBUKA">
    <div class="wrapper">
        <img class="image" src="/TOP_SECRET_IMAGE_DO_NOT_OPEN.jpg" alt="ALAMAKKKK" height="1477" width="1108"  />
    </div>
</Layout>

<style>

    .image {
        height: 75svh;
        width: auto;
        display: block;
        margin: auto;
    }

</style>
