---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kumpulan Diktat | AKPRO IME FTUI 2025">
    <section class="intro full-width">
        <h1>Kumpulan Diktat</h1>
        <p>Diktat Tahun 2018 - 2024</p>
    </section>
</Layout>

<style>
    .intro {
        padding-block: 1rem 2rem;
        height: fit-content;
        background-color: rgba(var(--primary), 0.1);
    }
</style>