---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { ...attr } = Astro.props
---


<div {...attr}>
    <slot/>
</div>

<style>
    div {
        width: 100%;
        box-shadow: var(--box-shadow);
        border-radius: 4px;
        padding: 0.5em 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: space-between;
        background-color: rgba(var(--primary), 0.05);
    }
</style>
