---

---

<footer transition:persist class="content-grid">
    <p></p>
</footer>

<style>
    footer {
        padding-block: 4rem;
        background-color: #213547;
        color: whitesmoke;
    }
</style>