---

---

<header transition:persist>
    <div class="container">
        <a href="/" class="logo-link" aria-label="Home Page">
            <svg width="150" height="50" viewBox="0 0 263 65" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <path fill="#fff" d="M13.78 26.28h-6.9v.08h6.9z" id="d"/>
                    <path d="m13.82 26.28-3.45-7.3v13.89l3.45-6.59Z" fill="#fff" id="e"/>
                </defs>
                <path d="m9.14 40.16-7.28-1.69-1.01-.17v-.68L45.7 19l37.75 8.3.84 10.83-29.45 26.58L0 50.83l6.26-1.53 2.88-9.14Z" fill="url(#a)"/>
                <path d="m13.82 26.28-3.45-7.3v13.89l3.45-6.59Z" fill="url(#b)"/>
                <path d="m13.82 26.28-3.45-7.3v13.89l3.45-6.59Z" fill="#000" style="mix-blend-mode:soft-light"/>
                <path d="m6.92 26.28 3.45-7.3v13.89l-3.45-6.59Z" fill="url(#c)"/>
                <use xlink:href="#d"/>
                <g style="mix-blend-mode:soft-light">
                    <use xlink:href="#e"/>
                    <use style="mix-blend-mode:soft-light" xlink:href="#e"/>
                    <path d="m6.92 26.28 3.45-7.3v13.89l-3.45-6.59Z" fill="#fff"/>
                    <use xlink:href="#d"/>
                </g>
                <path d="M2.03 50.32 3.4 38.81l50.1 10.33v13.88L2.03 50.32Z" fill="url(#f)"/>
                <path d="M2.03 50.32 3.4 38.81l50.1 10.33v13.88L2.03 50.32Z" fill="#fff" style="mix-blend-mode:soft-light"/>
                <path d="m23.36 33.05 4.23-2.37 35.38-1.01 10.16 2.7-25.05 8.64-24.72-7.96Z" fill="#000" fill-opacity=".13"/>
                <path d="M83.33 27.59 1.15 37.72l54.08 9.55 28.1-19.68Z" fill="url(#g)" style="mix-blend-mode:soft-light"/>
                <path d="m23.87 32.88.68-12.52 44.18-2.37v14.9l-20.65 6.26-24.21-6.27Z" fill="url(#h)"/>
                <path d="m24.38 23.07.17-2.88L47.9 23.9 68.73 18v3.04l-20.82 6.6-23.53-4.56Z" fill="#000" fill-opacity=".26"/>
                <path d="m47.9 23.91-43-6.77 81.94-4.23-38.93 11Z" fill="url(#i)"/>
                <path d="m45.7 5.8 41.14 7.1-81.93 4.41L45.7 5.8Z" fill="url(#j)"/>
                <path d="m47.9 23.91.18 15.24 20.65-6.27v-14.9l-20.82 5.93Z" fill="#000" style="mix-blend-mode:soft-light"/>
                <path d="m55.19 47.27 28.1-19.63.17-.34.84 10.66-29.45 26.58.34-17.27Z" fill="#000" fill-opacity=".1"/>
                <path opacity=".5" d="m3.39 38.8 50.1 10.34v1.18l-50.27-11 .17-.51Z" fill="#000" fill-opacity=".2"/>
                <path d="M47.9 24.08 45.7 5.8l40.97 7.1-38.76 11.18Z" fill="#000" style="mix-blend-mode:overlay"/>
                <path d="m77.79 44.02-22.56 3.25-.28 17.4 22.84-20.65Z" fill="url(#k)" style="mix-blend-mode:soft-light"/>
                <path d="m77.79 44.02-22.56 3.25-.28 17.4 22.84-20.65Z" fill="url(#l)" style="mix-blend-mode:soft-light"/>
                <path d="M55.23 47.18.86 37.52v.67L53.51 49v13.95L1.72 50.33 0 50.7l54.85 13.86.38-17.4Zm-8.4-33.16L5.35 17.27l41.48-2.59 39.65-1.72-39.65 1.06Z" fill="#fff" style="mix-blend-mode:soft-light"/>
                <path d="m46.25 14.4-.67-8.5 1.53 8.5.77 9.46-1.63-9.46Z" fill="#fff" style="mix-blend-mode:soft-light"/>
                <path d="M83.33 27.49 68.04 45.36l9.75-1.15 6.5-6.11-.96-10.61Z" fill="url(#m)"/>
                <path d="M83.62 27.4 55.24 47.16l12.8-1.72L83.62 27.4Z" fill="url(#n)"/>
                <path d="M83.62 27.4 55.24 47.16l12.8-1.72L83.62 27.4Z" fill="url(#o)" style="mix-blend-mode:soft-light"/>
                <path d="m55.14 47.46 28.38-19.88L84.3 38 55.14 64.47v-17Z" fill="url(#p)" style="mix-blend-mode:soft-light"/>
                <path id="logo-text-1" d="m113.78 36-1.6-6.42h-11.65L98.83 36h-7.35L99.9 4.77h13.87L121.5 36h-7.72Zm-7.31-29.22-4.69 17.98h9.2l-4.51-17.98Zm26.43-2.01v14.54l10.57-14.54h8.88l-11.38 15.17L153.24 36h-8.88l-11.47-15.44V36h-7.36V4.77h7.37Zm50.05 10.08c0 5.58-3.44 10.09-11.96 10.09h-6.38V36h-7.36V4.77H171c8.52 0 11.96 4.5 11.96 10.08Zm-7.32 0c0-2.99-1.6-4.9-5-4.9h-6.02v9.81h6.02c3.44 0 5-1.92 5-4.9Zm25.9 9.73h-6.38V36h-7.36V4.77h14.28c8.52 0 11.96 4.5 11.96 10.26 0 4.6-2.2 7.94-7.41 9.1h2.05L214.7 36h-7.71l-5.45-11.42Zm-6.38-4.82v.04h6.56c3.4 0 4.95-1.91 4.95-4.9 0-3-1.56-4.91-4.95-4.91h-6.56v9.77Zm37.76-15.88c11.2 0 15.98 4.95 15.98 16.5 0 11.56-4.78 16.51-15.98 16.51s-15.97-4.95-15.97-16.5c0-11.56 4.78-16.51 15.97-16.51Zm0 5.57c-5.8 0-8.25 3.26-8.25 10.94 0 7.67 2.45 10.93 8.25 10.93s8.3-3.26 8.3-10.93c0-7.68-2.5-10.94-8.3-10.94Z" fill="url(#q)"/>
                <path id="logo-text-2" d="M91.78 42.13h3.9v16.58h-3.9V42.13Zm11.44 1.73v14.85H99.5V42.13h6.6l2.97 15.18 2.86-15.18h6.61v16.58h-3.74V43.8l-3.05 14.9h-5.48l-3.05-14.85Zm31.04 1.02h-8.03v3.88h7.08v2.75h-7.08v4.45h8.03v2.75h-11.93V42.13h11.93v2.75Zm21.65 0h-8.03v3.88h7.08v2.75h-7.08v7.2h-3.9V42.13h11.93v2.75Zm14.81-2.75v2.96h-4.88v13.62h-3.88V45.09h-4.88v-2.96h13.64Zm2.36 10.47V42.13H177V52.6c0 2.56.92 3.62 3.15 3.62s3.17-1.06 3.17-3.62V42.13h3.89V52.6c0 4.62-2.11 6.58-7.06 6.58-4.95 0-7.06-1.96-7.06-6.58Zm17.68-10.47h3.9v16.58h-3.9V42.13Zm22.35 4.9c0-1.9-.73-2.67-2.48-2.67-1.76 0-2.51.95-2.51 3.22h-3.5c0-4.15 1.79-5.92 6-5.92 4.22 0 6.02 1.6 6.02 4.97 0 4.07-2.82 6.87-10.18 9.38h9.94v2.7h-12.03v-4.26c4.22-1.85 8.74-4.34 8.74-7.42Zm12.67-5.37c5.24 0 7.49 2.63 7.49 8.76s-2.25 8.76-7.49 8.76c-5.23 0-7.48-2.63-7.48-8.76 0-6.16 2.25-8.76 7.48-8.76Zm0 14.96c2.66 0 3.8-1.84 3.8-6.2s-1.14-6.2-3.8-6.2c-2.65 0-3.78 1.84-3.78 6.2s1.13 6.2 3.78 6.2Zm17.88-9.59c0-1.9-.73-2.67-2.48-2.67-1.76 0-2.52.95-2.52 3.22h-3.5c0-4.15 1.8-5.92 6.02-5.92 4.21 0 6.01 1.6 6.01 4.97 0 4.07-2.82 6.87-10.18 9.38h9.94v2.7h-12.03v-4.26c4.22-1.85 8.74-4.34 8.74-7.42Zm11.02 12.18c-3.98 0-5.8-1.59-6.07-5.24h3.13c.26 1.78 1.18 2.51 3.13 2.51 2.18 0 3.12-.94 3.12-3.22 0-2.27-.92-3.22-3.08-3.22-1.72 0-2.53.5-2.84 1.73h-2.94l1.62-9.64h9.56v2.7h-7l-1.12 5.35c.8-1.96 2.01-2.81 4.05-2.81 3.7 0 5.26 1.77 5.26 5.92 0 4.14-2.04 5.92-6.82 5.92Z" fill="currentColor"/>
                <defs>
                    <linearGradient id="a" x1="42.15" y1="32.03" x2="42.15" y2="64.71" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BDF3FF"/>
                        <stop offset="1" stop-color="#00CBF6"/>
                    </linearGradient>
                    <linearGradient id="b" x1="14.38" y1="28.38" x2="9.78" y2="25.33" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BDF3FF"/>
                        <stop offset="1" stop-color="#00CBF6"/>
                    </linearGradient>
                    <linearGradient id="c" x1="6.33" y1="24.3" x2="10.01" y2="30.68" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BDF3FF"/>
                        <stop offset="1" stop-color="#00CBF6"/>
                    </linearGradient>
                    <linearGradient id="f" x1="13.47" y1="41.06" x2="-6.12" y2="83.87" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BDF3FF"/>
                        <stop offset="1" stop-color="#00CBF6"/>
                    </linearGradient>
                    <linearGradient id="g" x1="42.24" y1="33.2" x2="42.24" y2="47.27" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="h" x1="46.3" y1="24.07" x2="38.77" y2="36.1" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00CBF6"/>
                        <stop offset="1" stop-color="#BDF3FF"/>
                    </linearGradient>
                    <linearGradient id="i" x1="21.67" y1="19.51" x2="74.15" y2="19.68" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00CBF6"/>
                        <stop offset="1" stop-color="#BDF3FF"/>
                    </linearGradient>
                    <linearGradient id="j" x1="60.6" y1="7.49" x2="21.33" y2="15.45" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00CBF6"/>
                        <stop offset="1" stop-color="#BDF3FF"/>
                    </linearGradient>
                    <linearGradient id="k" x1="64.31" y1="53.58" x2="66.89" y2="42.69" gradientUnits="userSpaceOnUse">
                        <stop stop-opacity="0"/>
                        <stop offset="1"/>
                    </linearGradient>
                    <linearGradient id="l" x1="64.31" y1="53.58" x2="66.89" y2="42.69" gradientUnits="userSpaceOnUse">
                        <stop stop-opacity="0"/>
                        <stop offset="1"/>
                    </linearGradient>
                    <linearGradient id="m" x1="76.16" y1="32.58" x2="76.16" y2="45.36" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BDF3FF"/>
                        <stop offset="1" stop-color="#00CBF6"/>
                    </linearGradient>
                    <linearGradient id="n" x1="58.2" y1="44.21" x2="80.08" y2="39.43" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BDF3FF"/>
                        <stop offset="1" stop-color="#00CBF6"/>
                    </linearGradient>
                    <linearGradient id="o" x1="69.43" y1="33.03" x2="69.43" y2="47.17" gradientUnits="userSpaceOnUse">
                        <stop stop-opacity="0"/>
                        <stop offset="1"/>
                    </linearGradient>
                    <linearGradient id="p" x1="69.71" y1="38.1" x2="89.16" y2="33.03" gradientUnits="userSpaceOnUse">
                        <stop stop-opacity="0"/>
                        <stop offset="1"/>
                    </linearGradient>
                    <linearGradient id="q" x1="171.03" y1="13.4" x2="171.03" y2="47" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BDF3FF"/>
                        <stop offset="1" stop-color="#00CBF6"/>
                    </linearGradient>
                    <linearGradient id="r" x1="-25.5033" y1="13.4629" x2="-24.4047" y2="39.797" gradientUnits="userSpaceOnUse">
                        <stop/>
                        <stop offset="1" stop-color="#00367C"/>
                    </linearGradient>
                </defs>
            </svg>
        </a>
        <div class="header-btn">
            <a href="/"> <svg class="svg-icon"><use href="#home"/></svg> </a>
            <button id="nav-btn" class="nav-btn">
                <svg class="svg-icon"><use href="#menu"/></svg>
            </button>
        </div>
    </div>
    <nav id="top-nav" class="top-nav hidden">
        <ul>
            <li>
                <a href="/diktat-asistensi"><span>Diktat dan Asistensi</span></a>
            </li>
            <!--<li>-->
            <!--    <a href="/proker-lain"><span>Proker lain (WIP)</span></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--    <a href="/about"><span>About</span></a>-->
            <!--</li>-->
            <li>
                <span><button id="toggle-dark-mode" class="toggle-dark-mode" aria-label="Toggle dark mode">
                    <svg class="svg-icon theme-icon theme-icon-dark" ><use href="#moon"/></svg>
                    <svg class="svg-icon theme-icon theme-icon-light"><use href="#sun"/></svg>
                </button></span>
            </li>
        </ul>
    </nav>
</header>
<div class="overlay overlay-hidden" id="overlay" aria-hidden="true" transition:persist></div>


<style>
    header {
        --_header-height: clamp(40px, 8vh, 72px);

        background-color: rgb(var(--background));
        display: flex;
        position: sticky;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        box-shadow: var(--box-shadow);
        z-index: 20;
    }

    .container {
        width: 100%;
        display: flex;
        padding: 0 0.5em;
        flex-direction: row;
        height: var(--_header-height);
        align-items: center;
        gap: 0.5em;
        position: relative;
        z-index: 20;
    }

    .logo {
        border: none;
        height: calc(var(--_header-height) * 0.75);
        aspect-ratio: 1/1;
        display: block;
    }

    h1 {
        font-size: 1rem;
        color: rgb(var(--text));
    }

    .logo-link {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 0.5em;
        text-decoration: none;
        color: inherit;
    }

    :root[data-theme="light"] #logo-text-1 {
        fill: url(#r);
    }

    :root[data-theme="dark"] #logo-text-1 {
        fill: url(#q) ;
    }

    .header-btn {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        margin-left: auto;
    }

    .header-btn a,
    .header-btn button {
        color: inherit;
    }

    .nav-btn {
        display: block;
        border: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .header-btn .svg-icon {
        height: 1.7rem;
        margin-bottom: 0;
    }


    /* ---------Nav---------- */

    nav {
        width: 100%;
        margin: 0;
        background-color: rgb(var(--background));
        color: rgb(var(--text));
        transition: max-height 0.15s linear;
        top: var(--_header-height);
        position: fixed;
        overflow: hidden;
        max-height: 50vh;
        z-index: 19;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav a {
        display: block;
        width: 100%;
        text-decoration: none;
        font-weight: bold;
        color: inherit;
        transition: background-color 0.15s ease-out;
        border-bottom: 2px solid rgba(var(--text), 0.1);
        position: relative;
        isolation: isolate;
    }

    nav a:hover::after {
        content: '';
        position: absolute;
        z-index: -2;
        inset: 100% 0 -2px 0;
        background: rgb(var(--primary));
    }

    nav span {
        margin: 0;
        display: block;
        padding: 0.75rem 2rem;
    }

    .hidden {
        max-height: 0;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.25);
        position: fixed;
        inset: 0;
        z-index: 8;
        display: block;
        pointer-events: all;
        cursor: pointer;
    }

    .overlay-hidden {
        display: none;
    }

    .toggle-dark-mode {
        border: none;
        display: flex;
        gap: 0.25rem;
        padding-block: 2px;
        padding-inline: 2px;
        border-radius: 100px;
        background-color: rgba(var(--text), 0.75);
        box-shadow: 1px 2px 4px black inset;
        color: rgb(var(--text));
        cursor: pointer;
    }

    .toggle-dark-mode .svg-icon {
        height: 1.5rem;
        margin-bottom: 0;
    }

    .theme-icon {
        border-radius: 50%;
        padding: 0.125rem;
        transition: color 0.25s linear;
        box-shadow: var(--box-shadow);
        visibility: hidden;
    }

    html[data-theme="light"] .theme-icon-light {
        color: goldenrod;
        background-color: white;
        visibility: visible;
    }

    html[data-theme="dark"] .theme-icon-dark {
        color: white;
        background-color: black;
        visibility: visible;
    }

    @media screen and (min-width: 1000px) {
        .hidden {
            max-height: none;
        }

        .overlay {
            display: none;
        }

        header {
            flex-direction: row;
        }

        nav {
            position: relative;
            top: 0;
            display: block;
            width: fit-content;
            margin-left: auto;
            padding-inline: 1rem;
        }

        nav a {
            font-weight: normal;
            font-size: 0.9rem;
            border-bottom: none;
            display: flex;
            align-items: center;
        }

        nav span {
            padding: 0;
        }

        ul {
            display: flex;
            gap: 1.5rem;
            flex-direction: row;
            align-items: center;
        }

        .header-btn {
            display: none;
        }

        .header-btn {
            margin-right: 1rem;
        }

        .top-nav a {
            width: fit-content;
        }

        .container {
            width: fit-content;
        }
    }
</style>

<script>
    const topNav = document.getElementById('top-nav') as HTMLElement;
    const overlay = document.getElementById('overlay') as HTMLElement;
    const navBtn = document.getElementById('nav-btn') as HTMLElement;

    const toggleNavBar = () => {
        topNav.classList.toggle('hidden');
        overlay.classList.toggle('overlay-hidden');
    }

    overlay.addEventListener('click', toggleNavBar);

    navBtn.addEventListener('click', toggleNavBar);

    document.addEventListener('astro:after-swap', () => {
        if (!topNav.classList.contains('hidden')) {
            toggleNavBar();
        }
    })

    const toggleTheme = () => {
        type Theme = 'dark' | 'light';
        const current = document.documentElement.getAttribute('data-theme') as string;
        const newTheme: Theme = current === 'dark' ? 'light' : 'dark';
        localStorage.setItem('theme', newTheme);
        document.documentElement.setAttribute('data-theme', newTheme);
    }

    document.querySelectorAll('.toggle-dark-mode').forEach(e => {
        e.addEventListener('click', toggleTheme);
    })
</script>

